<p>Welcome {{name}},</p>
<p>Your account has been successfully created.</p>
<p><strong>Username:</strong> {{email}}</p>
<p><strong>Password:</strong> {{password}}</p>
<p>Please login and change your password immediately.</p>
<br>
<p>Best regards,</p>
<p>Helpdesk Team</p>